*{
  margin: 0;
  padding: 0;
  border: 0;
}

.App-Header{
  background-color: #346aff;
  height: auto;
  width: 100%;
  color: aliceblue;
  padding: 10px;
}

.App-Name{
  display: inline-block;
  margin-top: 5px;
}

.App-Header-List{
  float: right;
  display: inline-flex;
  margin-right: 5vw;
  width: auto;
  margin-top: 5px;
}

.App-Header-List li{
  list-style: none;
  margin: 0 10px;
  padding: 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.App-Header-List li a{
  text-decoration: none;
  color: aliceblue;
  padding: 5px;
}

.App-Header-List li a:hover{
  color:#346aff;
  background-color: aliceblue;
  border-radius: 5px;
  transition-duration: 1s;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  background: linear-gradient(#2b241a, #171615);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
              0px 10px 14px 1px rgba(0, 0, 0, 0.14),
              0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}


